
.layout-header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 .3rem 0;
    border-bottom: 1px solid #dddddd;
}

.img-header-logo{
    width: 50px;
    height: 50px;
}

.group-header-logo{
    display: flex;
    text-decoration: none;
}

.h3-header-logo{
    margin-top: .3rem;
    margin-left: .7rem;
    font-size: 2.3rem;

    color: #323232;
}

.group-header-link{
    margin-top: 1.5rem;
    display: flex;
}

.header-link:last-child{
    padding: 0 0rem 0 .7rem !important;
}

.header-link{
    padding: 0 .7rem;
}

.header-link a{
    text-decoration: none;
    color: gray;
}

.layout-footer{
    padding: 1.5rem 0 .3rem 0;
    border-top: 1px solid #dddddd;
}

.text-footer{
    text-align: center;
    color: gray;
}

.group-header-link-mobile{
    display: none;
}

.is-active{
    color: orange !important;
}

@media only screen and (max-width: 600px){

    .group-header-link-mobile{
        display: block;
    }

    .group-header-link{
        display: none;
    }

    .h3-header-logo{
        font-size: 2rem;
    }

    .layout-header{
        padding: 1rem 1rem .6rem 1rem;
    }

    .text-footer{
        padding: 0 1rem;
    }
    
    .offcanvas-start{
        width: 300px !important;
    }

    .header-nav-mobile{
        display: flex;
    }

    .img-header-mobile-logo{
        width: 50px;
        height: 50px;
    }

    .h3-header-mobile-logo{
        margin: .7rem .3rem .3rem .3rem;
    }

    .icon-close-mobile{
        margin-top: .5rem;
        color: #949494;
        margin-right: .5rem;
    }

    .group-header-nav-mobile{
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: 1px solid #dddddd;
    }

    .header-link{
        font-size: 1.4rem;
        margin-top: 1rem;
        padding-bottom: .5rem;
    }

    .line-nav{
        width: 90%;
        height: .5px;
        background-color: #dddddd;
    }
}