body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(246, 246, 246);
}

.App {
    width: 1080px;
    margin: auto auto;
}

a {
    text-decoration: none;
    color: #5c5c5c;
}


a:hover {
    color: #fff;
}

.color-dark {
    color: #5c5c5c;
}

.color-main {
    color: #04764E;
}

.color-white {
    color: #fff;
}

.bg-color-main {
    background-color: #04764E !important;
}

.bg-color-gray-fade {
    background-color: #f3f3f3 !important;
}

.bg-color-danger {
    background-color: #ce4f4f !important;
}

.bg-color-primary {
    background-color: #4f73ce !important;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-2-5 {
    margin-top: .7rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mt-8 {
    margin-top: 8rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}

.ml-6 {
    margin-left: 6rem;
}

.ml-7 {
    margin-left: 7rem;
}

.ml-8 {
    margin-left: 8rem;
}

.ml-9 {
    margin-left: 9rem;
}

.ml-10 {
    margin-left: 10rem;
}

.text-center {
    text-align: center;
}

.font-weight-bold {
    font-weight: bold;
}

.font-size-50 {
    font-size: 50px;
}

.font-size-45 {
    font-size: 45px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-35 {
    font-size: 35px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-14 {
    font-size: 14px;
}

.width-300 {
    width: 450px;
}

.width-250 {
    width: 300px;
}

.width-225 {
    width: 250px;
}

.width-222-1{
    width: 225px;
}

.width-200 {
    width: 200px;
}

.input-custom {
    background-color: #fff;
    border: none;
    outline: none;
    padding: .6rem 1.3rem;
}

.input-custom:disabled,
.input-custom[disabled]{
  background-color: #04764E !important;
  /* color: #616161 !important; */
}

.pointer {
    cursor: pointer;
}

.size-height-5 {
    height: 5px;
}

.size-height-10 {
    height: 10px;
}

.bg-white {
    background-color: #fff;
}

.radius-5 {
    border-radius: 5px;
}

.input-transparent{
    border: none;
    outline: none;
    background-color: transparent;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}