body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(243, 243, 243);
}

.App {
    width: 1080px;
    margin: auto auto;
}

a {
    text-decoration: none;
    color: #5c5c5c;
}

a:hover {
    color: #5c5c5c;
}

.color-main {
    color: #dd8896;
}

.color-white {
    color: #fff;
}

.bg-color-main {
    background-color: #dd8896 !important;
}

.bg-color-gray-fade {
    background-color: #f3f3f3;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.text-center {
    text-align: center;
}

.font-weight-bold {
    font-weight: bold;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-20 {
    font-size: 20px;
}

.width-300 {
    width: 450px;
}

.input-custom {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.size-height-5 {
    height: 5px;
}

.size-height-10 {
    height: 10px;
}

.bg-white {
    background-color: #fff;
}

.radius-5 {
    border-radius: 5px;
}

.input-transparent{
    border: none;
    outline: none;
    background-color: transparent;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}