@import "./css/todo.css";
@import "./css/home.css";
@import "./css/share.css";
@import "./css/header.css";
@import "./css/modal.css";
@import "./css/option.css";
@import "./css/pagination.css";
@import "./css/table.css";

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */