body{
  font-family: 'Raleway', sans-serif;
  background-color: rgb(243, 243, 243);
}

.App{
  width: 1080px;
  margin: auto auto;
}

a{
  text-decoration: none;
  color: #5c5c5c;
}

a:hover{
  color: #5c5c5c;
}

.color-main{
  color: #dd8896;
}

.color-white{
  color: #fff;
}

.bg-color-main{
  background-color: #dd8896 !important;
}

.bg-color-gray-fade{
  background-color: rgb(243, 243, 243);
}

.p-2{
  padding: 2rem;
}

.p-3{
  padding: 3rem;
}

.ml-1{
  margin-left: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-5{
  margin-top: 5rem;
}

.mt-6{
  margin-top: 6rem;
}

.text-center{
  text-align: center;
}

.font-weight-bold{
  font-weight: bold;
}

.font-size-30{
  font-size: 30px;
}

.font-size-25{
  font-size: 25px;
}

.font-size-20{
  font-size: 20px;
}

.width-300{
  width: 450px;
}

.input-custom{
  background-color: #fff;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.pointer{
  cursor: pointer;
}

.size-height-5{
  height: 5px;
}

.size-height-10{
  height: 10px;
}

.bg-white{
  background-color: #fff;
}

.radius-5{
  border-radius: 5px;
}






/* -------------------------------------- */





.h3-header-logo{
  font-size: 40px;
  font-weight: bold;
}


.header-link{
  font-size: 20px;
}

.header-link a{
  padding: .4rem 1.2rem;
  border-radius: 6px;
}

.header-link a:hover{
  color: #fff;
  background-color: #dd8896;
}

.is-active{
  background-color: #dd8896;
  color: #fff;
}

.box-todo:hover{
  box-shadow: 5px 10px 18px #cacaca;
}

.section-addblog{
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.section-header{
  width: 100%;
  background-color: #fff;
}

.grid-todo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.item-todo-list{
  height: 600px;
}

.section-home{
  display: flex;
  align-items: center;
}

.group-todo{
  width: 1080px;
}

.box-todo{
  width: 100%;
  transition: all .3s ease-in-out;
  background-color: #fff;
}

.line-crimson{
  width: 100%;
  height: 1px;
  background-color: #dd8896;
}

.line-golden{
  width: 100%;
  height: 1px;
  background-color: rgb(233, 233, 40);
}

.line-blue{
  width: 100%;
  height: 1px;
  background-color: cornflowerblue;
}

.border-crimson{
  border-left: 5px solid #dd8896;
}

.border-golden{
  border-left: 5px solid #e9e928;
}

.border-blue{
  border-left: 5px solid #6495ed;
}